{{- $codespaces:= env "CODESPACES" | not | not -}}
{{- $devcontainer:= env "REMOTE_CONTAINERS" | not | not -}}
sourceDir = {{ .chezmoi.sourceDir | quote }}

{{- $username := "" }}
{{- $email := "" }}
{{- $defaultBranch := "" }}

{{- if or $codespaces $devcontainer }}
  {{- $username = default "asen23" (env "CHEZMOI_USERNAME") }}
  {{- $email = default "andersenlim23@gmail.com" (env "CHEZMOI_EMAIL") }}
  {{- $defaultBranch = default "main" (env "CHEZMOI_DEFAULT_BRANCH") }}
{{- else }}
  {{- $username = promptStringOnce . "username" "username" "asen23" }}
  {{- $email = promptStringOnce . "email" "email" "andersenlim23@gmail.com" }}
  {{- $branches := list "main" "master" }}
  {{- $defaultBranch = promptChoiceOnce . "defaultBranch" "Git default branch" $branches "main" -}}
{{- end }}

[data]
email = {{ $email | quote }}
username = {{ $username | quote }}
defaultBranch = {{ $defaultBranch | quote }}
codespaces = {{ $codespaces }}
devcontainer = {{ $devcontainer }}

[cd]
command = "zsh"
